<div class="cairn-generation-rolls">
    <div class="gen-rolls-title">{{line}}</div>
    <div class="gen-rolls-grid">
        <div class="gen-roll-row"><span class="gen-roll-label">{{localize 'CAIRN.HitProtection'}}:</span> <span class="gen-roll-value">{{hp}}</span></div>
        <div class="gen-roll-row"><span class="gen-roll-label">{{localize 'STR'}}:</span> <span class="gen-roll-value">{{str}}</span></div>
        <div class="gen-roll-row"><span class="gen-roll-label">{{localize 'DEX'}}:</span> <span class="gen-roll-value">{{dex}}</span></div>
        <div class="gen-roll-row"><span class="gen-roll-label">{{localize 'WIL'}}:</span> <span class="gen-roll-value">{{wil}}</span></div>
        <div class="gen-roll-row"><span class="gen-roll-label">{{localize 'CAIRN.Gold'}}:</span> <span class="gen-roll-value">{{gold}}</span></div>
    </div>
</div>
